In [2]:
import pandas as pd
dean = pd.read_csv('student_data.csv')
print(dean.head(7))
print(dean)

   student_ID  Age  Gender  Test Score Passed Exam
0           1   18    Male          85         Yes
1           2   19  Female          92         Yes
2           3   20    Male          78          No
3           4   19  Female          88         Yes
4           5   20    Male          76          No
5           6   18    Male          90         Yes
6           7   19  Female          82         Yes
   student_ID  Age  Gender  Test Score Passed Exam
0           1   18    Male          85         Yes
1           2   19  Female          92         Yes
2           3   20    Male          78          No
3           4   19  Female          88         Yes
4           5   20    Male          76          No
5           6   18    Male          90         Yes
6           7   19  Female          82         Yes
7           8   20  Female          68          No
8           9   18    Male          79          No
9          10   19    Male          94         Yes

In [5]:
duplicates = dean[dean.duplicated()]
print("Duplicates")
print(duplicates)

#duplicate rows
AgeDuplicate_rows = dean[dean['Age'].duplicated()]
print("\nAge Duplicated Raws")
print(AgeDuplicate_rows)

Duplicates
Empty DataFrame
Columns: [student_ID, Age, Gender, Test Score, Passed Exam]
Index: []

Age Duplicated Raws
   student_ID  Age  Gender  Test Score Passed Exam
3           4   19  Female          88         Yes
4           5   20    Male          76          No
5           6   18    Male          90         Yes
6           7   19  Female          82         Yes
7           8   20  Female          68          No
8           9   18    Male          79          No
9          10   19    Male          94         Yes

In [6]:
print("\nUnique Values in AGE Column: ")
print(dean['Age'].value_counts())

Unique Values in AGE Column:
Age
19    4
18    3
20    3
Name: count, dtype: int64